<mat-nav-list>
    <div class="logo py-4">
        <h1 style="color: aliceblue;">Dashboard</h1>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/main" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Profile View
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    
    <a mat-list-item routerLink="/delivery" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Delivery
    </a>
    <a mat-list-item routerLink="/sales" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> SALESORDER
    </a>
    <a mat-list-item routerLink="/credit" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> CREDIT
    </a>
    <a mat-list-item routerLink="/debit" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> DEBIT
    </a>
    <a mat-list-item routerLink="/invoice" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> INVOICE
    </a>
    <a mat-list-item routerLink="/payage" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> PAYAGE
    </a>
</mat-nav-list>