<mat-nav-list>
    <div class="logo py-4">
        <h1 style="color: aliceblue;">Dashboard</h1>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/main" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon> Profile View
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLink="/sign-up" routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon> FinancialSheet
    </a>
</mat-nav-list>