<html>
    <body>
        <table border="2">
        
        <thead>
        <tr>
            <th>
           
                Doc No.
           </th>
            <th>
                Entry Time
            </th>
           
            <th>creation Date</th>
            
            <th>
                Sales Org
            </th>
            <th>
                Delivery Type
            </th>
            <th>
                Delivery Date
            </th>
            <th>
                
                Incoterms
            </th>
            <th>
                Sales order Item
            </th>
            <th>
                Delivery Time
            </th>
        </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of data">
          
                <td>{{item.VBELN}}</td>
          
                <td>{{item.ERZET}}</td>
            
                <td>{{item.ERDAT}}</td> 
            
                <td>{{item.VKORG}}</td>
            
                <td>{{item.LFART}}</td>
          
                <td>{{item.LFART_V}}</td>
          
                <td>{{item.INCO2}}</td>
          
                <td>{{item.ARKTX}}</td>
            
                <td>{{item.LFUHR}}</td>
          
                
          
                <!-- <td><button data-toggle="modal" data-backdrop="false" data-target="#exampleModalCenter" class="Tablebutton" >Details</button></td> -->
          
            </tr>
            
          </tbody>
          </table>
    </body>
</html>