.sign-up-link:hover{
    color: red; /* changes color on hover */
    text-decoration: underline; /* adds underline on hover */
}

mat-toolbar a{
    color: black; /* changes color of links in mat-toolbar */
    margin-right: 16px; /* adds margin to the right side of links */
}

.content h2{
    font-size: 1.5rem; /* changes font size of h2 elements within .content */
    margin-bottom: 16px; /* adds margin to the bottom of h2 elements */
}